@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .trunc2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    overflow: hidden;
  };
  .trunc1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
    overflow: hidden;
  };
  .trunc3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;
    overflow: hidden;
  }
}